<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="5.6">
<file name="D:\GitHub\NextVote\src\com\github\calenria\nextvote\NextVote.java">
</file>
<file name="D:\GitHub\NextVote\src\com\github\calenria\nextvote\NextVoteItem.java">
</file>
<file name="D:\GitHub\NextVote\src\com\github\calenria\nextvote\NextVoteRadomItem.java">
</file>
<file name="D:\GitHub\NextVote\src\com\github\calenria\nextvote\Utils.java">
</file>
<file name="D:\GitHub\NextVote\src\com\github\calenria\nextvote\commands\CommandHandler.java">
</file>
<file name="D:\GitHub\NextVote\src\com\github\calenria\nextvote\commands\VoteCommands.java">
</file>
<file name="D:\GitHub\NextVote\src\com\github\calenria\nextvote\listener\NextVoteListener.java">
</file>
<file name="D:\GitHub\NextVote\src\com\github\calenria\nextvote\managers\NextVoteManager.java">
</file>
<file name="D:\GitHub\NextVote\src\com\github\calenria\nextvote\models\ConfigData.java">
</file>
<file name="D:\GitHub\NextVote\src\com\github\calenria\nextvote\models\VoteData.java">
</file>
<file name="D:\GitHub\NextVote\src\com\github\calenria\nextvote\models\VoteHistory.java">
</file>
</checkstyle>
